<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">


    <!-- Creating a ContentNegotiationManager to override the exisitng content manager -->
	<bean id="contentNegotiationManager" class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean" primary="true">
		<property name="favorPathExtension" value="false" />
		
		<!-- Marking true to use parameter technique to render the content -->
		<property name="favorParameter" value="true" />
		
		<!-- Name of the parameter used to define content types-->
		<property name="parameterName" value="cst_mediaType"/>
		
		<property name="ignoreAcceptHeader" value="true" />
		
		<!-- Setting the default content type to be display, 
			 when explicit type is not requested or is not available-->
		<property name="defaultContentType" value="application/xml" /> 
		
		<!--JAF :Java activation framework. Mark to true if implicit type media type mapping are needed  -->
		<property name="useJaf" value="false" />
		
		<!-- Media Type Definitions -->
		<property name="mediaTypes"> 
		      <map>
		          <!-- key passed from url parameter is mapped to content type used to render the data-->
		          <entry key="json" value="application/json" />  
		          <entry key="xml" value="application/xml" />    
		          <entry key="xyz" value="application/json" />  
		      </map>
    	</property>
		
	</bean>
	
	<!-- Overriding the existing content manager with the one created above-->
	<mvc:annotation-driven  content-negotiation-manager="contentNegotiationManager"/>
</beans>